<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>user</title>
</head>

<body>
  <button id='user_join_btn'>user join</button>
  <video id="videos" autoplay muted playsInline></video>

  <script defer src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="../js/user.js"></script>


</body>

</html>